*{
    padding:0;
    margin:0;
    border:none;
}

body{
    padding:0; 
    margin:0;
    background-color: hsl(257, 40%, 49%);
    width:100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    text-align: center;
    color:white;
}

header {
    width:100vw;
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size:contain;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.content-box{
    width:100%;
    box-sizing: border-box;
    padding:3rem;
}
.logo{
    text-align: left;
    width: 40%;
    margin-bottom: 3rem;
    display:block;
}
.mockup{
    width:100%;
}

.main{
    padding:3rem;
    margin-bottom:3rem;
    width:100vw;
    box-sizing: border-box;
    display: block;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    padding:2rem;
}

p{
    line-height: 2;
    font-size: 1rem;
    padding: 1.5rem;
}

.button{
    color: hsl(257, 40%, 49%);
    background-color: white;
    margin:1rem;
    padding:1rem 5rem;
    border-radius: 2rem;
    filter: drop-shadow(black 0 .25rem .5rem);
}

a{
    margin-top: 1rem;
    text-decoration: none;
}

main a:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}
footer{
    margin-top: 3rem;
    display:block;
}

footer i{
    border: .1rem solid white;
    padding:.5rem;
    margin: .5rem;
    border-radius: 100%;
    color:white;
}

footer i:hover{
    color:hsl(300, 69%, 71%);
    border-color:hsl(300, 69%, 71%);
}
